.vscode/
.tmp/*
*.pbrt
*.pyc


custom_routing_tendon/*/*/*.bin
custom_routing_tendon/*/*/*.png
custom_routing_tendon/*/*.mp4

custom_routing_tendon/*/*.bin
custom_routing_tendon/*/*.png
custom_routing_tendon/*.mp4


wandb/*
custom_routing_tendon/mesh.bin
python/.tmp/*
python/py_diff_pd/env/CRoutingTendonEnv.py
custom_routing_tendon/Baseline/init/*
custom_routing_tendon/Baseline/val/*
python/EXPERIMENT_FINGER/wandb/*
python/EXPERIMENT_ELASTICA/wandb/*
